.footer{
    background-color: var(--dark-blue);
    width: 100%;
    padding:20px 30px;
    display:flex;
    flex-wrap:wrap;
    align-items: start;
    justify-content: space-between;
    gap:10px;
    margin-top:20px;
}
.footer-column{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: left;
    float: left;
    align-items:start;
}
.footer-column .link{
    color:#f3f3f3;
    list-style-type:none;
    padding:6px 0;
    text-align: left;
    margin-left: -17px;
}
.footer-column .link:hover{
    color:goldenrod;
}
.input{
    padding: 7px;
    background: #f3f3f3;
    border-radius: 1px;
    width: 200px;
    outline: none;
    border:0.1px solid #ccc;
}
.nl-submit{
    padding: 6.5px;
    background-color: goldenrod;
    font-size: 16px;
    color:#f3f3f3;
    border: none;
    margin-left: -20px;
    cursor: pointer;
}