  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.main{
    max-width: 80rem;
    margin: auto;
}
.headline-text{
    font-size:60px;
    text-align: center;
    font-weight:600;
    font-family: 'Agbalumo',sans-serif;
    text-wrap: wrap;
}
.title-text{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    line-height:24px;
}
.body-text{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    color:goldenrod;
}

@media screen and (max-width:1230px) {
    .headline-text{
        margin: auto;
        font-size: 40px;
    }
}
