  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
:root {
    --dark-blue:rgba(0, 8, 78, 0.884)
}
.flex{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;justify-content: center;
    margin-bottom: 30px;
}
.main{
    max-width: 80rem;
    margin: auto;
    padding: 0 30px;
}
.headline-text{
    font-size:60px;
    text-align: center;
    font-weight:600;
    font-family: 'Agbalumo',sans-serif;
    text-wrap: wrap;margin: 10px 0;
}
.title-text{
    font-size: 23px;
    font-weight: 600;
    color: #ffffff;
    line-height:24px;
    text-align: center;
}
.title-text-black{
    font-size: 23px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.856);
    line-height:24px;
    text-align: center;
}
.body-text{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.body-text-light{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #00000065;
    line-height: 25px;
}
.body-text-white{
    font-size: 15px;
    font-weight: 500;
    color:#f3f3f3;
    letter-spacing: 0.5px;
}
.link{
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    color:goldenrod;
}
.not-found{
    background-image: url("https://images.pexels.com/photos/16933826/pexels-photo-16933826/free-photo-of-black-and-white-shot-of-a-vintage-car-on-a-tropical-town-street.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    backdrop-filter:blur(10);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.not-found .link{
    color:goldenrod;
}
.not-found .overlay{
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #00000065;
    z-index: -1;
}
@media screen and (max-width:1230px) {
    .headline-text{
        margin: auto;
        /* color: #00000065; */
    }
}
